body{
 background-color: #e4f3fb;
}
/*стили страницы*/
.gallery{
    margin-top:71px;
}
.gallery .container{
    flex-direction: column;
}
.gallery .title{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px;
}
.gallery .image__container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.gallery img{
    width: 250px;
    height: 140px;
}
.gallery .subtitle{
    color:#000;
    text-align: right;
    font-size: 14px;
    background-color: #fff;
    padding: 5px;
    padding-left:0px;
    text-decoration: underline;
}
.gallery a{
    margin-bottom:20px;
}
.gallery a:hover img{
    opacity:0.6;
}
.gallery a:hover .subtitle{
    font-weight: bold;
}