@import url(../../general-style.css);
@import url(../../header-footer.css);
@import url('base_main.css');/*ширина от 960 до 1200*/
/*Адаптив*/
/*SMALL MOBILE*/
@media all and (max-width:480px){

}
/*MOBILE*/
@media all and (max-width:760px){
    .lessons__inf{
        margin-top:91px;
    }
    .lessons__inf .container{
        display:block;
    }
    .lessons__inf img{
        display:block;
        margin:0 auto;
        margin-bottom:10px;
        width: 250px;
        height: 112px;
    }
    .lessons__inf .text{
        margin:0 auto;
    }
    .examples{
        padding-bottom:30px;
    }
    .examples .container{
        text-align:center;
    }
    .examples .img__container{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .examples a{
        margin:5px;
    }
}
/*TABLET*/
@media all and (max-width:960px){
    .container{
        max-width:none;
    }
}